*{
 box-sizing: border-box;
}

body{
 background: url("../img/movieproj.jpeg") no-repeat;
 background-size: cover;
 background-attachment: fixed;
 font-family: 'Shrikhand', cursive;
 overflow: visible;
}

h1{
 color: white;
}

.col-6{
 padding-top: 10px;
 border: 1px solid;
 border-radius: 1px;
 background-color: white;
}

.col-6 #rating{
 margin-top: 3px;
}

.col-6 #editRating{
 margin-top: 3px;
}

.col-6 #addMovieForm{
 margin-right: 100px;
}

.forms {
 background-color: gray;
 justify-content: space-evenly;
}

#loadingImg {
 padding: 25em 0 0 40em;
}

#paw {
 height: 40px;
 width: 40px;
 color: #ffc107;
}






